AUTHOR = "Joshua Deare"
NAME = "Resolv.conf"
TIME = "SHORT"
TEST_CATEGORY = "Functional"
TEST_CLASS = "General"
TEST_TYPE = "client"

DOC = """
This test confirms that DNS servers in resolv.conf are responding properly.
"""

job.run_test('resolvconf')
