AUTHOR = "Joshua Deare"
NAME = "ETCD Test"
TIME = "SHORT"
TEST_CATEGORY = "Functional"
TEST_CLASS = "General"
TEST_TYPE = "client"

DOC = """
This test confirms etcd is up and running properly
"""

job.run_test("etcd")

