AUTHOR = "Joshua Deare"
NAME = "SSH Test"
TIME = "SHORT"
TEST_CATEGORY = "Functional"
TEST_CLASS = "General"
TEST_TYPE = "client"

DOC = """
This test confirms running sshd on the target system.
"""

job.run_test('cacert')
