AUTHOR = "Joshua Deare"
NAME = "SSH Test"
TIME = "SHORT"
TEST_CATEGORY = "Functional"
TEST_CLASS = "General"
TEST_TYPE = "client"

DOC = """
This test confirms coreos is running on a read only fs 
"""

job.run_test('readonlyfs')
