AUTHOR = "Joshua Deare"
NAME = "Update Service"
TIME = "SHORT"
TEST_CATEGORY = "Functional"
TEST_CLASS = "General"
TEST_TYPE = "client"

DOC = """
This test confirms the target can communicate with the update server
"""

job.run_test('updateserver')
